################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/serverside/.vs/serverside/FileContentIndex/47f8a482-3545-42bd-a16c-ee3c0eadf733.vsidx
/serverside/.vs/serverside/FileContentIndex
