################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/serverside/.vs
/serverside/bin